.App {
  text-align: center;
}



nav {
  display: flex;
  justify-content: space-around;
  background-color: green;
  color: whitesmoke;
  align-items: center;
}
.nav-links{
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: space-around;
 align-items: center;
}
